.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.admin-page h2 {
  margin-bottom: 20px;
}

.admin-menu {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds spacing between buttons */
}

.admin-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #2C3E50; 
  color: #27AE60;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-menu button a {
  text-decoration: none;
  color: inherit; /* Ensures the link color inherits the button's text color */
}

.admin-menu button:hover {
  background-color: #191a1e; /* Darker shade on hover */
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #2C3E50; 
  color: #27AE60;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.link:hover{
  background-color: #191a1e;
}