.delete-service-container {
  padding: 20px;
  color: #FDFEFE;
  font-family: Arial, sans-serif;
  width: 60%;
  margin: 0px auto;
  text-align: center;
}

h3 {
  color: #d35400;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.message {
  margin: 15px 0;
  color: #FFCC80;
  font-weight: bold;
}

.services-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #fce9d5;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.services-table th,
.services-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #d35400;
}

.services-table th {
  background-color: #d35400;
  color: #FFFFFF;
  font-weight: bold;
}

.services-table td {
  color: black;
}

.services-table tr:hover {
  background-color: #ffe3c4;
}

.delete-button {
  padding: 8px 14px;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #FF5722;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: #E64A19;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .delete-service-container {
    width: 90%;
  }

  .services-table th,
  .services-table td {
    font-size: 0.9rem;
    padding: 10px;
  }

  .delete-button {
    padding: 6px 10px;
    font-size: 0.85rem;
  }
}
