
:root {
  --primary-bg: #1a1a1a;
  --secondary-bg: #f0f0f0;  
  --accent: #ff5722;
  --text-color: #333;
  --transition: all 0.3s ease;
  --border-color: #b3b3b3;  
  --hover-bg: #dcdcdc;      
}


body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


button {
  background-color: #ff5722; 
  border: none;                  
  padding: 10px 20px;            
  font-size: 1rem;
  color: rgb(0, 0, 0);                  
  text-decoration: none;         
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover,
button:focus {
  background-color: rgba(0, 0, 0, 0.05); 
  outline:none;       
  transform: scale(1.02);
  color:#000000;               
}


button a {
  text-decoration: none;
  color: inherit;
}


