.news-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: var(--primary-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--accent);
  font-size: 2rem;
}

.news-error {
  color: red;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.news-success {
  color: green;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.toggle-form-btn {
  background-color: var(--accent);
  color: var(--primary-bg);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto 20px auto;
  display: block;
}
.toggle-form-btn:hover {
  background-color: #777;
}

.news-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--secondary-bg);
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--secondary-bg);
  color: var(--text-color);
}

.submit-btn {
  background-color: var(--accent);
  color: var(--primary-bg);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.submit-btn:hover {
  background-color: #777;
}

.news-articles {
  margin-top: 30px;
}

.news-articles h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--accent);
  font-size: 1.5rem;
}




.scrollable-table-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.scrollable-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.scrollable-table th,
.scrollable-table td {
  padding: 10px;
  text-align: left;
  background-color: #ccc;
  border-bottom: 1px solid #ddd;
}

.scrollable-table th {
  background-color:var(--accent); 
  color: white;
  font-weight: bold;
  text-align: left;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.clickable-row:hover {
  background-color: #ae3535;
}
