.table-container {
  margin: 20px auto;
  max-width: 800px;
}

.table-container h1{
  margin-bottom: 50px;
  font-size: 28px;
  color: #d35400; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
}

.custom-table thead tr {
  background-color: #d35400; /* Dark orange tone */
  color: white;
  font-weight: bold;
  text-align: left;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.row-even {
  background-color: #f5d7b3; /* Light orange tone */
}

.row-odd {
  background-color: #fce9d5; /* Slightly lighter orange */
}

.custom-table tbody tr:hover {
  background-color: #ffe3c4; /* Highlighted hover color */
}

.Accept_Decline_btn{
  display: flex;
  
  gap: 10px;
  border: none;
}


.btn-accept,
.btn-decline {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  
}

.btn-accept {
  background-color: #27ae60; /* Green for Accept */
  color: white;
  margin-right: 10px;
}

.btn-decline {
  background-color: #c0392b; 
  color: white;
}

@media (max-width: 1024px) {
  .custom-table {
    font-size: 0.95rem;
  }

  .custom-table th,
  .custom-table td {
    padding: 10px 12px;
  }

  .btn-accept,
  .btn-decline {
    padding: 7px 10px;
    font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  .table-container {
    padding: 5px;
  }

  .custom-table {
    font-size: 0.9rem;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px 10px;
  }
  .Accept_Decline_btn{
    flex-direction: column;
  }
  

  .btn-accept,
  .btn-decline {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .table-container h1{
    font-size: 20px;
  }

  .custom-table th,
  .custom-table td {
    font-size: 12px;
    padding: 8px;
  }
}