.users-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.users-title {
  margin-bottom: 50px;
  font-size: 28px;
  text-align: center;
  color: var(--accent); 
  text-transform: uppercase; 
  letter-spacing: 2px;
}


.users-message {
  text-align: center;
  color: #c0392b;
  font-size: 16px;
  margin-bottom: 20px;
}


.users-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #34495e; 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.users-table th,
.users-table td {
  padding: 12px 15px;
  text-align: center;
  color: #ecf0f1;
  
}

.users-table th {
  background-color: var(--accent); 
  color: white;
  text-transform: uppercase;
}

.users-table tr:nth-child(even) {
  background-color: #2c3e50; 
}



.users-table tr:hover {
  background-color: #191a1e; 
}

.users-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: none;
}


.button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  text-transform: uppercase;
}

.view-button {
  background-color: #2ecc71;
  color: white;
}

.view-button:hover {
  background-color: #27ae60;
}

.delete-button1{
  background-color: #c82b1a;
  color: white;
}

.delete-button1:hover {
  background-color: #c0392b;
}

.update-button {
  background-color: #3498db;
  color: white;
}

.update-button:hover {
  background-color: #2980b9;
}


@media (max-width: 768px) {
  .users-table {
    font-size: 14px;
  }

  .users-actions {
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .users-title {
    font-size: 20px;
  }

  .users-table th,
  .users-table td {
    font-size: 12px;
    padding: 8px;
  }
}
